@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('./assets/fonts/FiraMono-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 400;
  src: url('./assets/fonts/FiraMono-Regular.ttf') format('truetype')
}

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "FiraMono";
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(0, 0, 0);
  background-color: #fff;

  font-size: 13px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

